/* ******************************
*  Stylesheet for Screened Devices
*  Created by: Ezra Rojas
*  
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize
*  1.2 Google fonts
*
*  2.  General Styles (for all pages and devices)
*
*  3.  Mobile First (styles specific to small screens)
*
*  4.  Large Screen Styles (Media Queries begin here)
*
* ****************************** */

/* 1.  Includes (fonts and supplementary stylesheets) */
/* 1.1 Normalize Import */ 
@import url('normalize.css');
/* 1.2 Google Font Import */
@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');
/* General */
html {
    box-sizing: border-box;
   }
   
   *, *:before, *:after{
    box-sizing: inherit;
   }
   body{
    font-family: 'helvetica', sans-serif;
    font-size: 20px;
  }
h1, h2, h3, h4, h5, h6 {
    font-family: 'Sansita', sans-serif;
}
.tile{
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
}
nav ul li { 
    display: inline-block; 
    list-style: none; 
  }
  nav {
    position: fixed;
    bottom: 0;
    background: rgb(50, 164, 202);
    width: 100%;
  }
  footer{
    margin-bottom: 2em;
    background: rgb(50, 164, 202);
   }
#site-brand {
    font-size: 2em;
    font-weight: 600;
  }
 #logo {
     display: inline;
 }
 header h1 {
     background-color: rgb(50, 164, 202);
 }
#franklin {
    font-size: 3em;  
}
#hourly {
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
}
#rain {
    width: 50%;
}
ul {
    list-style-type: none;
    padding: 0;
}
#high {
    color: red;
}
#low {
    color: blue;
}
#current {
    font-size: 4em;
}

#hourly p {
    overflow-x: scroll;
}
body {
    padding-bottom: 20px;
}

#forecast {
    overflow: auto;
    white-space: nowrap;
    margin-left: 3%;
    margin-right: 3%;
}
body {
    padding-right: 30px;
    padding-left: 30px;
}
#mph {
    margin-top: -85px;
    padding-bottom: 80px;
    margin-left: 40%;
}
h1 {
    display: inline;
}
#dial {
    height: 150px;
    width: 150px;
    background: no-repeat center/85% url('/weather/images/wind-pointer.png');
    z-index: 100;
    margin: -.6em auto 0;
   }
   .n {transform: rotate(0deg);
   }
   .ne {
       transform: rotate(45deg);
   }
   .e {
    transform: rotate(90deg);
   }
   .se {
    transform: rotate(135deg);
   }
    .s {
       transform: rotate(180deg);
   }
   .sw {
    transform: rotate(225deg);
   }
   .w {
    transform: rotate(270deg);
   }
.nw {
       transform: rotate(315deg);
   }
   #curWeather {
    background-size: cover;
   }
   
   /* Background pictures for summary */
   .clear {
    background-image: url("/weather/images/clear_small.jpg");
   }
   .snow {

   }
   .rain {

   }
   .cloud {

   }
   .fog {

   }
#grow {
    font-size: 40px;
}
/*********************************************************************************************/ 
@media screen and (min-width:400px) {
    nav {
        position: relative; 
    }
    #row div {
        display: flex;
    }
    #temps {
        flex-grow: 1;
        width: 30%;
    }
    #wind {
        flex-grow: 1;
        width: 30%;
    }
    #summary {
        flex-grow: 1;
        width: 30%;
    }
    body {
        padding-bottom: 0;
    }
    .clear {
    background-image: url("../responsiveimages/images/clear.jpg");
   }
   .snow {
    background-image: url("../responsiveimages/images/snow.jpg");
   }
   .rain {
    background-image: url("../responsiveimages/images/rain.jpg");
   }
   .cloud {
    background-image: url("../responsiveimages/images/clouds.jpg");
   }
   .fog {
    background-image: url("../responsiveimages/images/fog.jpg");
   }
}
